.Header {
  display: flex;
  justify-content: space-between;
  margin-top: 0 auto;
  margin-bottom: 0px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #CFCFCF;
  box-shadow: 1px 1px 4px #cfcfcf;
  background: 	#0f344f;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
}

.header-links {
  text-decoration: none;
  color: white;
}

.links {
  font-size: 20px;
  text-align: center;
  padding-right: 200px;
  padding-top: 8px;
}

#header-title{
  font-size: 32px;
  color: 	#ecc28d;
  font-weight: bolder;
  padding-left: 150px;
}