@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;900&display=swap');


/* *{
  border: 1px solid gold;
} */

body, html {
  font-family: 'Exo', sans-serif; 
  background-color: #f9ecdc;
  width: 100%;
}



.layout-children{
  padding-top: 120px;
  /* height: 100vh; */
  padding-bottom: 100px;
  margin-left: 35px;
  margin-right: 35px;
}


.post-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  /* height: 100vh; */
  
}

