.post {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:20px;
  padding:15px;
  text-decoration: none;
  box-shadow: 3px 5px 8px #b45c03;
  border-radius: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.post-title{
  font-weight: bold;
  text-decoration: none;

}

.post-img {
  width: 250px;
  height: 100%;
}

.post-author{
  font-size: 20px;
  padding: 10px;
}

.post-content{
  font-size: 14px;
  padding: 10px;
}

